node_modules/
dist/
.env
.vscode/
.DS_Store
coverage/
.idea/
npm-debug.log
yarn-error.log
*.log
*.tsbuildinfo
.cache/
.next/
out/
/build/
public/build/
.svelte-kit/
.vite/
.tmp/
*.local
*.env.local
*.env.*.local

