{
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "parser": "html"
            }
        },
        {
            "files": "*.yaml",
            "options": {
                "yamlBracketSpacing": false
            }
        }
    ]
}